.manageLeaveContainer {
    border: 1px solid #d9def1;
    margin-block-start: 3rem;
    margin-block-end: 2rem;
    width: 96%;
    margin-inline: auto;
    border-radius: 0.5rem;
    >div:nth-child(1){
        display: none;
    }

}