.salaryStructureModal {
    width: 32rem;
    height: fit-content;
    margin: auto;

    .salaryStructure {
        background-color: #ffffff;
        border-radius: 0.5rem;
        padding: 6%;

        .salaryField {
            >div:nth-child(1) {
                display: flex;
                justify-content: space-between;

                >div {
                    width: 49%;
                }
            }

            >div:nth-child(3) {
                display: flex;
                justify-content: right;
                margin-block-start: 1rem;

                >div:nth-child(1) {
                    margin-inline-end: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .salaryStructureModal{
        width: 100%;
    }
    
}