.userCardContainer {
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 0.5rem;
    position: relative;



    >div:nth-child(1) {
        h5 {
            background-color: #383A3C;
            color: #68C5AE;
            padding-inline: 1.25rem;
            padding-block: 0.35rem;
            font-size: 0.85rem;
            border-radius: 0.25rem;
        }
    }

    >div:nth-child(2) {
        background-color: #F5F5F5;
        position: absolute;
        top: 20%;
        right: 10%;

        p {
            padding-inline: 0.5rem;
            background-color: #F5F5F5;
            color: #000000;
            font-size: 0.8rem;
            cursor: pointer;

            &:hover {
                background-color: #383A3C;
                color: #68C5AE;
            }
        }


    }

    >div:nth-child(3) {
        width: fit-content;
        margin: auto;

        >div {
            width: fit-content;
            margin: auto;
        }

        h4 {
            color: #383A3C;
            margin-block-start: 0.5rem;
            font-weight: 700;
            font-size: 1.18rem;
        }

        p {
            font-size: 0.75rem;
            margin-block-start: 0.5rem;
        }

        img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
        }

        >div+h4+p+div {
            margin-block-start: 1rem;
        }
    }
}