.approveReqModal {
    width: 32rem;
    height: fit-content;
    margin: auto;

    .approveReq {
        background-color: #ffffff;
        padding: 6%;
        border-radius: 0.5rem;

        .acton {
            display: flex;
            justify-content: right;

            >div:nth-child(1) {
                margin-inline-end: 0.5rem;
            }
        }
    }
}