.loginContainer {
    background-image: linear-gradient(to right, #383A3C 70%, #68C5AE 30%);
    height: 100vh;

    >div:nth-child(1) {
        width: 30rem;
        height: 15rem;

        img {
            width: 100%;
            height: 100%;
            // margin-block-start: 10%;
            // margin-inline-start: 20%;
        }
    }

    >div:nth-child(2) {
        padding-inline: 10%;


        >div:nth-child(1) {
            width: 45%;
            height: 15%;
            margin-block-start: 2%;
            border-radius: 0.5rem;

            img {
                width: 100%;
                height: 100%;
                border-radius: 0.5rem;

            }
        }

        >div:nth-child(2) {
            margin-block-start: -8.5rem;
        }
    }
}