.ticketModal {
    border: 1px solid yellow;
    width: 50%;
    margin-inline: auto;
    margin-block-start: 2rem;
    padding: 1.75rem;
    background-color: #ffffff;
    border: '2px solid #000';
    border-radius: 0.5rem;


    >div:nth-child(1) {
        display: flex;
        justify-content: space-between;

    }

    >div:nth-child(1)+hr+div+div {
        margin-block: 0.5rem;

        >div {
            margin-inline: auto;
        }
    }

    >div:nth-child(1)+hr+div+div+div {
        justify-content: space-between;


        >div {
            width: 100%;

            >div:nth-child(1) {
                margin: auto;
            }
        }

        >div:nth-child(2) {
            padding-inline-start: 2%;
        }

    }

    >div:nth-child(1)+hr+div+div+div+div {
        margin-block: 1rem;
    }

    >div:nth-child(1)+hr+div+div+div+div+div {
        >div {
            margin: auto;
        }
    }

    >div:nth-last-child(1) {
        width: fit-content;
        margin-inline-start: auto;
        display: flex;
        margin-block-start: 2.5rem;
        margin-block-end: 1rem;

        >div:nth-child(2) {
            margin-inline-start: 1rem;
        }
    }
}