.userContainer {
    padding: 2%;

    h5 {
        margin-block-end: 1.25rem;
        font-size: 1.35rem;
    }

    >div:nth-child(1) {
        display: flex;
        justify-content: space-between;

        h5+div {

            svg {
                color: #00ACB2;
                background-color: #000000;
                margin-inline-start: 0.25rem;
                padding: 0.38rem;
                border-radius: 0.25rem;
            }
        }
    }
}