.empAttendanceContainer {
    border: 1px solid yellow;
    padding-block: 1%;

    .empAttendance {
        padding: 2%;

        >div:nth-child(1) {
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 0.5rem;
        }
    }
}