.addItemModuleContainer {
    background-color: #ffffff;
    padding: 6%;
    border-radius: 0.5rem;

    .itemFields {
        display: flex;
        justify-content: space-between;

        >div {
            width: 48%;
        }
    }

    .action {
        display: flex;
        justify-content: right;
        margin-block-start: 1rem;

        >div:nth-child(1) {
            margin-inline-end: 0.5rem;
        }
    }
}