.editAttandanceModal {
    width: 50%;
    margin: auto;
    margin-block-start: 4rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 2%;

    >div+hr+div,
    >div+hr+div+div {
        >div {
            width: 100%;
        }

        >div:nth-child(2) {
            margin-inline-start: 0.5rem;
        }
    }

    div+hr+div+div+div {
        >div:nth-child(2) {
            margin-inline-start: 0.5rem;
        }
    }
}