.ticketByStatusContainer {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-inline: 8%;
    padding-block-start: 8%;
    padding-block-end: 10%;

    h5 {
        font-size: 1.25rem;
    }

    >div {

        >div {

            >div {
                >div {
                    display: flex !important;
                }
            }
        }
    }
}