.leadManagementTable {
    table {
        width: 200%;
        overflow-x: auto;

        @media screen and (max-width:480px) {
            width: 550%;
        }

        tr {

            th,
            td {
                padding: 0;
                padding-inline: 7px;
                padding-block: 1rem;
                font-size: 1rem;
            }
        }
    }

    .action {
        >div>button {
            padding-block: 0.15rem;
            padding-inline: 1.5rem;
        }
    }
}