.headingProfileContainer {
    border: 1px solid darkgray;
    display: flex;
    border-radius: 0.5rem;

    img {
        object-fit: cover;
        padding: 4%;
        border-radius: 5rem;
    }

    p {
        color: #4C4C4C;
        width: fit-content;
        margin: auto;
    }

    svg {
        width: fit-content;
        margin: auto;
        margin-inline: 0.5rem;
        color: #4C4C4C;
        cursor: pointer;
    }
}