.invoicePreviewContainer {
    padding-inline: 6%;
    padding-block: 4%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 80%;
    margin-block: 5rem;
    margin-inline: auto;
    border-radius: 0.5rem;

    .invoicePreviewHeading {
        margin-block: 2rem;

        >div:nth-child(1) {
            margin-block: auto;

            >div {
                p {
                    font-size: 1.25rem;
                    font-weight: 500;
                    margin-block: 0.5em;
                }
            }
        }

        >div:nth-child(2) {
            >div {
                width: 14rem;
                height: 6rem;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .billedCardSection {
        display: flex;
        justify-content: space-between;
        margin-block: 2rem;

        >div {
            width: 49%;
            padding: 2.5%;
            background-color: #383A3C;
            color: #ffffff;
            border-radius: 0.5rem;
        }
    }

    .checkout {
        margin-block: 1rem;
        width: 40%;
        margin-inline-start: auto;
    }

    .termsConditions {
        >div {
            display: flex;
            margin-block: 1rem;
            margin-inline-start: 2rem;
        }
    }

    .bankDetails {
        margin-block-start: 1rem;

        h5+div {
            margin-block-start: 1rem;
            display: flex;
            justify-content: space-between;
            padding-inline: 5%;
            padding-block: 3%;
            background-color: #EFEBF9;
            border-radius: 0.5rem;

            >div:nth-child(1) {
                margin-block: auto;

                p {
                    margin-block: 1rem;
                    font-weight: 600;
                }

                span {
                    font-weight: 500;
                }
            }

            >div:nth-child(2) {
                >div {
                    width: 10rem;
                    height: 10rem;
                    background-color: #ffffff;
                    border-radius: 0.5rem;

                }
            }
        }
    }
}

.action {
    display: flex;
    justify-content: right;
    margin-block-start: 1rem;

    >div:nth-child(1) {
        margin-inline-end: 0.5rem;
    }
}