.attandanceTableContainer {
    .tableHead {
        display: flex;
        justify-content: space-between;

        >div {
            display: flex;

            >div:nth-child(1) {
                margin-inline-end: 0.5rem;

                >div>div {
                    height: 2.5rem;
                }
            }
        }
    }

    table {

        tr {

            th {
                min-width: 1.5rem !important;
                max-width: 2rem !important;
            }

            td {
                min-width: 1.5rem !important;
                max-width: 2rem !important;
            }
        }
    }

    .tableAction {

        svg {
            color: #ffffff;
            border-radius: 0.25rem;
            padding: 0.35rem;
            cursor: pointer;
        }

        svg:nth-child(1) {
            background-color: #3EC9D6;
            margin-inline: 0.5rem;
        }

        svg:nth-child(2) {
            background-color: #FF3A6E;

        }
    }

}

@media screen and (max-width:480px) {
    .attandanceTableContainer {
        .tableHead {
            display: flex;
            flex-direction: column;

            >div {
                width: 90%;
                margin-inline: auto;

                >div:nth-child(1) {
                    display: none;
                }

                >div:nth-child(2) {
                    margin-block: 1rem;
                    width: 100%;

                    button {
                        width: 100%;
                    }
                }
            }
        }

        .tableContainer {

            table {
                width: 250%;
            }
        }

    }

}