.readLeadModalContainer {
    width: 50rem;
    height: fit-content;
    margin: auto;


    .readLeadModal {
        background-color: #ffffff;
        padding: 6%;
        border-radius: 0.5rem;
        height: 30rem;
        overflow-y: scroll;

        .readLead {
            p {
                margin-block: 0.8rem;
                font-weight: 600;

                span {
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .readLeadModalContainer {
        width:100%;
        height: 30rem;
        overflow-y: scroll;

        .readLead {
            display: flex;
            flex-direction: column !important;
        }
    }

}