.asserstModalContainer {
    width: 42rem;
    height: fit-content;
    margin: auto;

    .asserstModal {
        background-color: #ffffff;
        padding: 6%;
        border-radius: 0.5rem;

        .asserstContainer {
            .asserst {
                display: flex;
                justify-content: space-between;

                >div {
                    width: 49%;
                }
            }

            .asserst+button {
                margin-block-start: 0.5rem;
                width: 100%;
                border: 1px dashed #000000;
            }

            .history {
                border: 1px solid #d9def1;
                margin-block-start: 0.5rem;
                padding: 0.5rem;
            }
        }

        .action {
            display: flex;
            justify-content: right;
            margin-block-start: 1rem;

            >div:nth-child(1) {
                margin-inline-end: 0.5rem;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .asserstModalContainer {
        width: 100%;
    }

}