.commonListContainer {
    position: absolute;
    top: 9%;
    margin-inline-start: 8rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 0.25rem;
    width: 12%;
    padding-block: 0.75rem;
}