.userModalContainer {
    background-color: #ffffff;
    padding: 8%;
    border-radius: 0.5rem;

    hr+div {
        >div {
            margin-block: 1rem;
        }

        >div:nth-child(4) {
            >div {
                margin: auto;
            }
        }
    }

    hr+div+div {
        justify-content: right;
        margin-block-start: 2rem;

        div:nth-child(1) {
            margin-inline-end: 0.5rem;
        }

        div:nth-child(2) {
            margin-inline-end: 0 !important;
        }
    }
}