.serviceCardContainer {
    display: flex;
    justify-content: space-between;
    padding-block: 2.5%;
    padding-inline: 6%;
    border: 1px solid #d9def1;
    border-radius: 0.5rem;


    >div:nth-child(2) {
        margin-block: auto;
        padding-block: 0.5rem;
        padding-inline: 0.5rem;
        color: #000000;
        border-radius: 0.25rem;

        svg {
            color: #ffffff;
        }
    }
}