.invoiceInfo {
    // border: 1px solid yellow;
    width: 100%;

    >div {
        margin-block: 0.5rem;
        display: flex;
        justify-content: space-between;

        p+div {
            width: 16rem;
        }
        p+div>div>input {
            padding: 5%;
        }

    }
}