.leadModalContainer {
    width: 32rem;
    height: fit-content;
    margin: auto;

    @media screen and (max-width:480px) {
        width: 100%;

    }

    .createLeaveModalContainer {
        background-color: #ffffff;
        border-radius: 0.5rem;
        padding: 6%;

        .createLeaveModal {

            >div:nth-child(1),
            >div:nth-child(3) {
                display: flex;
                justify-content: space-between;

                >div {
                    width: 49%;
                }
            }

            >div:nth-child(2) {
                margin-block-start: 1rem;

                .selectedDate {
                    border: 1px solid darkgray;
                    padding: 1rem;
                    border-radius: 0.5rem;
                    width: 100%;
                }
            }


            >div:nth-child(4) {
                display: flex;
                justify-content: space-between;

                >div {
                    width: 100%;

                    >div {
                        margin-inline: auto;
                    }
                }
            }

            >div:nth-child(5) {
                display: flex;
                justify-content: right;
                margin-block-start: 1rem;

                >div:nth-child(1) {
                    margin-inline-end: 0.5rem;
                }
            }


        }
    }
}