.headingContainer {
    display: flex;
    justify-content: space-between;
    margin-block: 1%;
    margin-inline: 2%;

    >div {
        display: flex;
    }

    >div:nth-child(2) {
        >div:nth-child(1) {
            >div:nth-child(1) {
                margin-inline-end: 0.5rem;
            }
        }
    }
}