.staffModalContainerMain {
    width: 45%;
    height: 80%;
    margin: auto;
    overflow-y: scroll;

    @media screen and (max-width:480px) {
        width: 100%;

    }

    .staffModalContainer {
        background-color: #ffffff;
        padding: 8%;
        border-radius: 0.5rem;

        .staffModal {
            display: flex;
            justify-content: space-between;

            >div:nth-child(1),
            >div:nth-child(2) {
                width: 48%;

                >div {
                    margin-block: 1rem;
                }

                >div>div {
                    margin: auto;

                }
            }
        }

        .action {
            display: flex;
            justify-content: right;

            >div:nth-child(1) {
                margin-inline-end: 0.5rem;
            }
        }
    }
}