.leaveTableContainer {
    margin-block-end: 2rem;

    table {
        @media screen and (max-width:480px) {
            width: 250%;
            overflow-x: auto;
        }

        tr {

            th {
                min-width: 1.5rem !important;
                max-width: 2rem !important;
            }

            td {
                min-width: 1.5rem !important;
                max-width: 2rem !important;
            }
        }
    }

    .tableAction {

        svg {
            color: #ffffff;
            border-radius: 0.25rem;
            padding: 0.35rem;
            cursor: pointer;
        }

        svg:nth-child(1) {
            background-color: #3EC9D6;
            margin-inline: 0.5rem;
        }

        svg:nth-child(2) {
            background-color: #FF3A6E;

        }
    }
}