.attancecontainer{
    position: relative;
    background-color: rgb(88, 2, 75);
    width: 100%;
    padding: 5rem;
}



    .attandaceuserimg{
        margin-left: -4rem;
        margin-top: -4rem;
        width: 105px;
        >img{
           border-radius: 0.5rem;
            width: -webkit-fill-available;
        }
    }

    .attancename{
        margin-left: 4rem;
        margin-top: -4rem;
        >h3{
            margin-bottom: 0.5rem;
            font-size: 2rem;
            color: white;
        }
        >p{
            color: white;
        }
    }