.statusModal {

    >div {

        >div {
            margin-inline: auto;

            >div {
                height: 2rem;
                width: 7rem;
                margin-inline: auto;

            }
        }
    }
}