.reqAttenModal {
    width: 32rem;
    height: fit-content;
    margin: auto;

    .reqAtten {
        background-color: #ffffff;
        padding: 6%;
        border-radius: 0.5rem;

        .selectField {
            display: flex;
            width: fit-content;

            p {
                font-weight: 600;
                margin-block: auto;
                margin-inline-end: 1rem;
            }

            input {
                height: 1rem;
            }
        }

        .action {
            display: flex;
            justify-content: right;
            margin-block-start: 1rem;

            >div:nth-child(1) {
                margin-inline-end: 0.5rem;
            }
        }
    }
}