.empPaySlipContainer {
    border: 1px solid #d9def1;
    width: 96%;
    margin: auto;
    margin-block-start: 4rem;
    border-radius: 0.5rem;

    h5 {
        padding: 2%;
    }

    .tableContainer {}
}