.sidebarContainer {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    height: 100vh;
    position: fixed;
    width: 18%;

    >div:nth-child(1) {

        img {
            width: 100%;
            height: 8rem;
            // height: 100%;
            // margin-block: 1rem;
            // padding-inline: 2rem;
        }
    }

    .sidebarMenu {
        margin-inline: 5%;

        ul {
            padding-block: 2px;
        }

        .activeMenu {

            li {
                border-radius: 0.25rem;
                background-color: #383A3C;
                color: #68C5AE;
                padding-block: 0.65rem;

                svg {
                    border-radius: 0.25rem;
                    font-size: 2rem;
                    padding: 0.30rem;
                    color: #68C5AE;
                    background-color: #ffffff;
                    margin-inline-end: 0.75rem;
                }
            }
        }

        .inActiveMenu {


            li {
                border-radius: 0.25rem;
                padding-block: 0.65rem;

                &:hover {
                    background-color: #383A3C;
                    color: #68C5AE;
                }

                svg {
                    border-radius: 0.25rem;
                    font-size: 2rem;
                    padding: 0.30rem;
                    margin-inline-end: 0.75rem;
                    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                }
            }
        }

        .subMenu {
            width: 80%;
            margin-left: auto !important;
            color: #68C5AE;

            &:hover {
                font-weight: 600;
            }

            svg {
                font-size: 1.75rem;
                margin-inline-end: 0.5rem;
            }
        }
    }

    .logout {
        position: absolute;
        bottom: 0px !important;
        width: 100%;

        >ul {
            background-color: #383A3C;
            color: #68C5AE;
            padding: 0;

            >li {
                // margin: auto;
                justify-content: center !important;
                padding-block: 0.75rem;
            }
        }
    }
}