.dashboardContainer {
    border-radius: 0.5rem;
    margin-block-start: 3rem;
    margin-block-end: 2rem;
    width: 96% !important;
    margin-inline: auto;

    .dashboard {
        display: flex;
        justify-content: space-between;
        border: 1px solid #d9def1;
        padding-block: 1.5%;
        margin-block: 2.5%;

        >div {
            border-right: 1px dashed rgb(217, 222, 241);
        }
    }
}