.contactDetailsModal {
    background-color: #ffffff;
    padding: 10%;
    border-radius: 0.5rem;

    .contactDetails {
        >div {
            margin-block: 1rem;
        }
    }

    .action {
        display: flex;
        justify-content: right;
        margin-block-start: 1rem;

        >div:nth-child(1) {
            margin-inline-end: 0.5rem;
        }
    }
}