.billedCardContainer {

    h4 {
        color:  #68C5AE;
    }

    >div {
        margin-block: 1rem;

        h5 {
            font-size: 1rem;
            font-weight: 600;
            margin-block: 0.25rem;
        }

        span {
            font-weight: 500;
        }
    }
}