.empBankDetails {
    padding: 8%;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .bankDetails {
        >div {
            >div {
                margin-block: 0.95rem;
            }
        }
    }
}