.personalDetailsModalContainer {
    background-color: #ffffff;
    padding: 8%;
    border-radius: 0.5rem;

    .PersonalDetails {
        display: flex;
        justify-content: space-between !important;

        >div:nth-child(1) {
            border: 1px solid yellow;
            width: 48%;
        }

        >div:nth-child(2) {
            border: 1px solid blue;
            width: 48%;
        }
    }

}