.attandanceContainer {
    border: 1px solid #d9def1;
    margin-block-start: 3rem;
    margin-block-end: 2rem;
    width: 96%;
    margin-inline: auto ;
    border-radius: 0.5rem;
    padding-block-start: 2.5%;
    >div:nth-child(1){
        display: none;
    }
}
