.checkoutCardContainer {
    border: 1px solid #58024B;
    padding: 5%;
    border-radius: 0.25rem;
    .CheckoutCard{
        margin-block: 1rem;
        >div{
            border: 1px solid #58024B;
            width: 1.15rem;
            height: 1.15rem;
            border-radius: 0.25rem;
            svg{
                color: #58024B;
            }
        }
    }
}