.meetingScheduleContainer {
    margin-block: 1.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5rem;
    .tableAction {

        svg {
            color: #ffffff;
            border-radius: 0.25rem;
            padding: 0.35rem;
            cursor: pointer;
        }

        svg:nth-child(1) {
            background-color: #3EC9D6;
            margin-inline: 0.5rem;
        }

        svg:nth-child(2) {
            background-color: #FF3A6E;

        }
    }
}