.commonButtonContainer {
    button {
        border: 1px solid #000000;
        color: #000000;

        &:hover {
            border: 1px solid #00ACB2;
            background-color: #00ACB2;
            color: #000000;
        }
    }
}