.invoiceSelect {
    border-radius: 0.25rem;
    margin-block: 0.5rem;

    >div {
        width: 100%;

        >div>div {
            border: 1px solid #58024B;
            padding: 10px;
        }
    }
}