.commonTableContainer {
    margin-block: 1.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5rem;

    .tableHead {
        display: flex;
        justify-content: space-between;
        padding-inline: 1%;
    }

    .tableContainer{
        margin-block-end: 2rem;
    }
}