.commonTableContainer {
    margin-block: 1.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5rem;

    .tableHead {
        display: flex;
        justify-content: space-between;
        padding-inline: 1%;
        padding-block: 1rem;

        h5 {
            margin-block: auto;
        }

        >div {
            >div {
                >div {
                    height: 2.5rem;
                }
            }
        }
    }

    .tableContainer {
        margin-block-end: 2rem;
    }
}

@media screen and (max-width:480px) {
    .commonTableContainer {

        .tableHead {
            display: flex;
            flex-direction: column;

            h5 {
                text-align: center;
            }

            >div {
                width: 90%;
                margin-inline: auto;
                margin-block-start: 1rem;

                >div {
                    width: 100%;
                }
            }
        }

        .tableContainer {
            table {
                width: 300%;
            }
        }
    }

}