.commonTableContainer {
    margin-block: 1.25rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 0.5rem;

    .tableHead {
        display: flex;
        justify-content: space-between;
        padding-inline: 1%;
        padding-block: 1rem;

        h5 {
            margin-block: auto;
        }

        >div {
            >div {
                >div {
                    height: 2.5rem;
                }
            }
        }
    }

    .tableContainer {
        margin-block-end: 2rem;
    }
}